Dataset: https://finance.yahoo.com/quote/MSFT/history/  Starting date: 1987-09-17	Ending date: 2023-11-16	

Kaggle link: https://www.kaggle.com/datasets/vijayvvenkitesh/microsoft-stock-time-series-analysis

In [9]:
import os
import datetime

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

## Data loading

In [7]:
raw_df = pd.read_csv("Dataset/MSFT.csv")

In [8]:
raw_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1987-09-17,0.406250,0.407986,0.394965,0.402778,0.249708,69436800
1,1987-09-18,0.402778,0.402778,0.395833,0.399306,0.247555,31651200
2,1987-09-21,0.371528,0.397569,0.368056,0.371528,0.230334,85550400
3,1987-09-22,0.371528,0.401042,0.368056,0.397569,0.246478,82008000
4,1987-09-23,0.401042,0.419271,0.401042,0.418403,0.259395,107697600
...,...,...,...,...,...,...,...
9110,2023-11-10,361.489990,370.100006,361.070007,369.670013,368.921234,28042100
9111,2023-11-13,368.220001,368.470001,365.899994,366.679993,365.937256,19986500
9112,2023-11-14,371.010010,371.950012,367.350006,370.269989,369.519989,27683900
9113,2023-11-15,371.279999,373.130005,367.109985,369.670013,369.670013,26860100
9114,2023-11-16,370.959991,376.350006,370.179993,376.170013,376.170013,27159800

In [10]:
x = raw_df["Date"][0]

In [11]:
x

'1987-09-17'

In [12]:
xx = x.split("-")

In [14]:
y, m, d = xx

In [15]:
y, m, d

('1987', '09', '17')

### Datetime conversion

In [16]:
def str_to_datetime(date_string):
    year, month, date = date_string.split("-")
    return int(year), int(month), int(date)

In [17]:
y, m, d = str_to_datetime(raw_df["Date"][3])

In [18]:
d, m, y

(22, 9, 1987)